<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirkocordes.aberhm_dastrinkspiel">

    <queries>
        <package android:name="com.google.android.googlequicksearchbox" />
    </queries>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AberÄhmDasTrinkspiel">
        <activity
            android:name="com.mirkocordes.aberhm_dastrinkspiel.ListeningActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.mirkocordes.aberhm_dastrinkspiel.PopUp"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.mirkocordes.aberhm_dastrinkspiel.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>